name: GitHub Actions CI For ParaBank Automation

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

jobs:
  tests:
    runs-on: ubuntu-latest

    concurrency:
      group: parabank-automation-${{ github.ref }}
      cancel-in-progress: true 
      # Ensures that only one workflow per branch runs at a time
      # If a new workflow is triggered for the same branch, 
      # the previous one is cancelled

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: uv sync

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Playwright system dependencies
        run: |
          npm init -y
          npm install playwright
          npx playwright install-deps

      - name: Initialize Robot Framework Browser
        run: uv run rfbrowser init

      - name: Run Robot tests
        run: |
          uv run python -m robot -d results tests/

      - name: Upload Robot results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: robot-results-${{ github.run_number }}
          path: results
